/* can't use css variable in tid file, because it will become -— , maybe triggers --- syntax?
Have to move them into a css file like this */
div.intention-tower-knowledge-graph-container {
  height: 100%;
  padding: 1em;
}

.itkg-project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.itkg-project-list-item {
  padding: 5px 0;
  margin: 5px;
  word-wrap: break-word;
	word-break: break-all;
}

.itkg-intention-tower-buttons {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.itkg-intention-tower-buttons button {
  padding: 15px 20px;
  margin-bottom: 10px;
}
.itkg-create-task .tc-edit-texteditor {
  width: 100%;
}